
#navbar {
    top: 0;
    background-color: rgb(16, 52, 82);

    position: fixed;
    width: 100%;
  }

#form{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: static;
}

#form  * {
    position: static;
}

.sidebar{
    top: 55px;
    background-color: rgb(16, 52, 82);
    padding: 20px;
    width: 200px;
    height: 900%;
    position: fixed;
    
  }

  body{
      background-color: grey;
  }

  .sidebar > div p{
    color: #fff;
    text-align: center;
  }

 /* #conteiner{
 
      background-color: #fff;
      width: 80%;

      
      display: grid;
      gap: 1.6em;
      grid-template-columns: repeat(5,1fr);
      
  }


  #conteiner >.content,
  #conteiner >.footer,
  #conteiner > div{
      background-color: #fff;
      padding: 20px;
      border: 1px solid #000000;
  }




  #conteiner .footer{
      grid-column: 1/6;
      background-color: #1e272e;
      color: #ffff;
  }

  #conteiner > .content{
    margin: 55px 0px 0px 0px;
    grid-column: span 5;
  }

.content > .article{ 
    background-color: rgb(10, 73, 52);
    padding: 50px;
    margin-top: 5px;
    
}
.content{
    margin: 55px 0px 0px 0px;
    padding: 0;

}
_*/