.navbar{
    height: 50px;
    right: 0;
    top: 0;
    left: 200px;
    position: fixed;
    background-color: red;
    transition-duration: 1s;

}

.logout{
    position: absolute;
    right: 3px;
    bottom: 10px;
    width: 5%;
    height: 50%;
    background-color: teal;
}

.container-fluid{
    margin-top: 50px;
    margin-left: 200px;
    transition-duration: 1s;

}
.panel1{
    background-color: orange;
    width: 59%;
    height: 70%;
    display: inline-block;

}

.panel2{
    background-color: green;
    width: 40%;
    height: 70%;
    display: inline-block;
    vertical-align: top;
}

.cubo-titulo{
    background-color: grey;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
    border-radius: 10px;
}

.visualizador{
    margin: 10%;
    background-color: lavender;
    height: 720px;
    border-radius: 20px;
}

.reportes{
    margin: 10%;
    margin-top: 2%;
    background-color: lavender;
    height: 720px;
    border-radius: 10px;
}


.sidebar{
    background-color: blue;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition-duration: 1s;

}

.titulo{
    color: white;
    text-align: center;
    font-size: 20px;    
}


.contenido{
    margin-top: 60px;
    background-color: hotpink;
    width: 200px;
    height: 200px ;
    transition-duration: 1s;

    
}

.foto{
    position: absolute;
    margin: 25%;
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition-duration: 1s;

}

.admin{
    position: relative;
    top: 75%;
    color: white;
    text-align: center;
    font-size: 30px; 
}


.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 200px;
    width: 100%;
    height: 1.5rem; 
    background-color: indigo;
    transition-duration: 1s;

}

@media (max-width: 700px){
    .sidebar{
        left: -200px;
        transition-duration: 1s;
    }
    .foto{
        margin-left: -200px;
        transition-duration: 1s;
    }
    .contenido{
        left: -200px;
        transition-duration: 1s;
    }
    .container-fluid{
        margin-left: 0;
        transition-duration: 1s;
    }
    .footer,
    .navbar{
        left:0;
        transition-duration: 1s;
    }
}