.navbar{
    height: 50px;
    right: 0;
    top: 0;
    left: 200px;
    position: fixed;
    background-color: red;
    transition-duration: 1s;

}

.logout{
    position: absolute;
    right: 3px;
    bottom: 10px;
    width: 5%;
    height: 50%;
    background-color: teal;
}

.container-fluid{
    margin-top: 50px;
    margin-left: 200px;
    transition-duration: 1s;

}
.panel1{
    background-color: orange;
    width: 59%;
    height: 70%;
    display: inline-block;

}

.panel2{
    position: fixed;
    background-color: green;
    width: 36%;
    height: 90%;
    display: inline-block;
    vertical-align: top;
}

.cubo-titulo{
    background-color: grey;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
    border-radius: 10px;
}

.visualizador{
    
    margin: 10%;
    padding: 1%;
    background-color: lavender;
    height: 85%;
    border-radius: 20px;
}

.cabezaPanel{
    text-align: center;
    top: 5%;
    margin: 5%;
    height: 5%;
    background-color: white;
    border-radius: 10px;
    transition-duration: 1s;
}

.contenidoView{
    top: 5%;
    margin: 5%;
    height: 79%;
    background-color: white;
    border-radius: 10px;
    transition-duration: 1s;
}

.tituloReporte{
    transition-duration: 1s;

}

.info{
    padding: 10px;
    margin: 5%;
    height: 20%;
}

.info p{
    font-size: 10px;
}

.fotoP{
    background-color: yellow;
    width: 45%;
    margin: 5%;
    display: inline-block;
}

.map{
    background-color: turquoise;
    width: 45%;
    margin: 5%;
    display: inline-block;
}

.form{
    text-align: center;
}

.form .comentario{
    margin-right: 5%;
    margin-left: 5%;
    width: 70%;
}

.fotoPanel{
    width: 10px;
    height: 10px;
}

.reportes{
    text-align: center;
    margin: 10%;
    margin-top: 2%;
    background-color: lavender;
    height: 60%;
    border-radius: 10px;
    padding: 1%;
}
.card{
    padding: 1%;
    background-color: white;
    display: inline-block ;
    vertical-align: top;
    border-radius: 5px;
    max-width: 15rem;
}

.btn{
    margin-left: 35%;
    margin-right: 35%;
}

.card-img-top{
    width: 100%;
}

.sidebar{
    background-color: blue;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition-duration: 1s;

}

.titulo{
    color: white;
    text-align: center;
    font-size: 20px;    
}


.contenido{
    margin-top: 60px;
    background-color: hotpink;
    width: 200px;
    height: 200px ;
    transition-duration: 1s;

    
}

.foto{
    position: absolute;
    margin: 25%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition-duration: 1s;

}

.admin{
    position: relative;
    top: 75%;
    color: white;
    text-align: center;
    font-size: 30px; 
}


.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 200px;
    width: 100%;
    height: 1.6rem; 
    background-color: indigo;
    transition-duration: 1s;

}

@media (max-width: 700px){
    .sidebar{
        left: -200px;
        transition-duration: 1s;
    }
    .foto{
        margin-left: -200px;
        transition-duration: 1s;
    }
    .contenido{
        left: -200px;
        transition-duration: 1s;
    }
    .container-fluid{
        margin-left: 0;
        transition-duration: 1s;
    }
    .footer,
    .navbar{
        left:0;
        transition-duration: 1s;
    }
}