<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="Estilos/style.css">
</head>

<body>
    <div class="headers">
        <div class="navbar">
            hola
            <div class="logout">

            </div>
        </div>
        <div class="container-fluid">

            <div class="panel1">
                <div class="cubo-titulo">

                </div>
                <div class="reportes">

                </div>
            </div>
            <div class="panel2">
                <div class="visualizador">
                    
                </div>
            </div>
            <footer class="footer">

            </footer>
        </div>

    </div>
    <div class="sidebar">
        <h4 class="titulo">Proyecto Denuncia</h4>


        <div class="contenido">
            <div class="foto">

            </div>
            <h1 class="admin">admin</h1>
        </div>

    </div>

</body>

</html>