<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="Estilos/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Estilos/style.css">
</head>

<body>
    <div class="headers">
        <div class="navbar">
            
            <button class="btn btn-primary btn-sm" id="logout">
                Logout
            </button>
        </div>
        <div class="container-fluid">

            <div class="map" id="map">

            </div>

            <footer class="footer">
              <h4>Derechos reservados compyright@jorgeFischer</h4>
            </footer>
        </div>

    </div>
    <div class="sidebar">
        <h4 class="titulo">Proyecto Denuncia </h4>


        <div class="contenido">
            <img class="foto" src="img/AdminLogo.png" alt="">
            <h1 class="admin">admin</h1>
        </div>

    </div>
    
</body>
<script src="js/cargarMap.js" type="module"></script>
<script id="mapa" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap'></script>



</html>