<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
    <!-- 
    -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="Estilos/main.css" />
    <% include ./partials/headerHome.html %>

</head>

<body>
    
    <!--<aside class="sidebar">
        <div>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, officiis?</p>
            </article>
            <div>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, officiis?</p>
                </article>
                <div>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, officiis?</p>
                    </article>

    </aside>-->

    <div class="container-fluid">
            <% include ./partials/navHome.html %>
        <div class="row">
            <div class="col-md-4">
                <aside class="sidebar">
                    <div>

                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, officiis?</p>
                        </article>
                        <div>

                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, officiis?</p>
                            </article>
                            <div>

                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, officiis?</p>
                                </article>

                </aside>
            </div>
            <div class="col-md-6">
                <article>
                    <div>
                        <h1>reporte 1 </h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas voluptatibus
                            soluta accusamus ab
                            officiis sit, ipsum reiciendis! Dolorem deleniti error facilis nulla, recusandae
                            autem repellendus
                            quis nesciunt unde veritatis quasi!</p>

                    </div>
                    <div >
                        <img src="http://lorempixel.com/300/200/sports/" alt="">


                    </div>
                    <% include ./partials/form.html %>
                </article>
            </div>
        </div>
        

        <!--<main class="content">
                
                <article class="article">
                    <div id="info1">
                            <h1>reporte 1 </h1>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas voluptatibus
                                soluta accusamus ab
                                officiis sit, ipsum reiciendis! Dolorem deleniti error facilis nulla, recusandae
                                autem repellendus
                                quis nesciunt unde veritatis quasi!</p>
                            
                    </div>
                    <div id="info2">
                            <img src="http://lorempixel.com/300/200/sports/" alt="">
                
                            
                    </div>
                    <% include ./partials/form.html %>
                </article>
                <article class="article">
                    <h1>reporte 2</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas voluptatibus
                        soluta accusamus ab
                        officiis sit, ipsum reiciendis! Dolorem deleniti error facilis nulla, recusandae
                        autem repellendus
                        quis nesciunt unde veritatis quasi!</p>
                    <img src="http://lorempixel.com/300/200/sports/" alt="">
        
                </article>
                <article class="article">
                    <h1>Reporte 3</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas voluptatibus
                        soluta accusamus ab
                        officiis sit, ipsum reiciendis! Dolorem deleniti error facilis nulla, recusandae
                        autem repellendus
                        quis nesciunt unde veritatis quasi!</p>
                    <img src="http://lorempixel.com/300/200/sports/" alt="" id="imagen">
        
                </article>
                <div class="related-post">
                Another Post
            </div>
            <div class="related-post">
                Another Post
            </div>
            <div class="related-post">
                Another Post
            </div>
            <div class="related-post">
                Another Post
            </div>
            <div class="related-post">
                Another Post
            </div>
            </main>
        -->




    </div>
    <footer class="footer">
        <h4>footer</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, necessitatibus.</p>
    </footer>

</body>


</html>










<!--



-->